<footer class="container text-center">
  <p>Therapist Rachel Jenkins-Stevens, LCSW, LCS 27066</p>
  <p>Therapy for clients in Alameda County including Oakland, Berkeley, San Leandro, Castro Valley, Union City, Emeryville, Fremont, Albany, El Cerrito, Richmond, Orinda, Lafayette, Moraga, Walnut Creek</p>
  <p>&copy;2014 All Rights Reserved</p>
</footer>