<div id="header">
  <p>&nbsp;</p> <!-- put something in the header so the whole thing can be background-colored -->
  <div id="headerwords"> <!-- make the words a block so I can move them as a whole -->
    <h2 id="RJSname">Rachel Jenkins-Stevens, LCSW</h2>
    <h3 id="job">Psychotherapist</h3>
  </div><!-- end headerwords div --> 
  <img src="images/Rinbkyd144x172.jpg" alt="Pic of Rachel" name="Rachel Jenkins-Stevens Counseling Therapy for Families, Teens, Children, Adults, and Couples" id="rachelpic" > 
</div> <!-- end header div -->