<div id="lhs"> <!-- The lhs contains the nav bar and addr -->
  <div id="navdiv">
    <p>&nbsp;</p>
    <!-- put something in the navdiv so I can move it around -->
    <ul>
      <li><a href="/">Psychotherapy Home</a></li>
      <li><a href="/about_me">About Me</a></li>
      <li><a href="/sexuality">Sexuality</a></li>
      <li><a href="/family_life">Families</a></li>
      <li><a href="/therapy_with_teens">Therapy With Teens</a></li>
      <li><a href="/couples_therapy">Couples Therapy</a></li>
    </ul>
  </div><!-- end navdiv -->

  <div id="addrdiv">
    <h4>East Bay Psychotherapy Collaborative</h4>
    <p>431 30th Street, Suite 250 </p>
    <p>Oakland, CA 94609</p>
    <p>&nbsp;</p>
    <h4><a href="tel:+1-510-779-2670">510-779-2670</a></h4>
    <a href="mailto:racheljslcsw@gmail.com">racheljsLCSW@gmail.com</a>
    <p>&nbsp;</p>
<!--Professional verification provided by Psychology Today -->
  <a href="http://therapists.psychologytoday.com/rms/prof_detail.php?profid=182797&amp;p=10&amp;tr=Ext_Verify" title="verified by Psychology Today">
  <img src="http://therapists.psychologytoday.com/rms/external_verification.php?profid=182797" 
  height="69" width="146"
  alt="verified by Psychology Today" 
  border="0">
  </a>
  <!-- End Verification -->
  <p>&nbsp</p>
      <img src="http://maps.googleapis.com/maps/api/staticmap?center=431+30th+St,+Oakland,+CA
      &zoom=14
      &size=200x300
      &maptype=roadmap
  &markers=color:blue%7Clabel:431+30th%7C37.81887,-122.265387
  &sensor=false">
  <p><a href="https://maps.google.com/maps?q=431+30th+Street,+Oakland,+CA&hl=en
  &sll=37.870775,-122.30098
  &sspn=0.075885,0.154324&oq=431%60&hnear=431+30th+St,+Oakland,+California+94608
  &t=m&z=16">View larger map</a><p>
  <p>&nbsp;</p> <!-- add space at bottom of map -->
  </div>
  <!-- end addrdiv --> 
</div>
<!-- end lhs -->
    