<!doctype html>
<html>
<head>
  <% include ../partials/head %>
</head>

<body>
  <div id="container">
    <% include ../partials/header %>
    
    <% include ../partials/left_nav %>

    <div class="info container">
      <p>I earned my Masters in Social Work from the Hunter College School of Social Work. Before becoming a Masters level social worker I worked with people, especially children, teenagers and their families, for many years. I have always been drawn to people and close, intimate connections. My commitment to the work of therapy is to stay in it with you even when it is challenging or painful and to be authentic with you along the way.</p>
      <p>Fees</p>
      <p>My full fee is $150 an hour. I have sliding scale openings available. Please call me if my full fee is a financial hardship for you so we can discuss the options. I hope all people who are interested in being in therapy can make it work.</p>
      <p>You may call me for a free phone consultation or to make an initial appointment to see if I am the right fit for you.</p>
    </div>

  </div><!-- end container -->

  <% include ../partials/footer %>

</body>
</html>