<!doctype html>
<html>
<head>
  <% include ../partials/head %>
</head>

<body>
  <% include ../partials/nav_bar %>
  <div id="container">
    <% include ../partials/header %>
    
    
    <div class="info container">
      <p>Couples often find themselves stuck in patterns that do not make either partner feel good but seem impossible to change. I can help you to hear each other in a fresh way that can enable you to find connection and understanding that you thought may have been lost. Through couples therapy you will be able to explore how your individual thoughts, feelings, backgrounds, beliefs and behaviors are impacting your relationship. I will help you to create the change in your relationship you are craving.</p>
      <p>The idea of coming to therapy to discuss your private, intimate relationship can feel daunting, embarrassing or shameful. Many people actually find it to be much easier than they would have imagined. I offer a respectful and compassionate approach and find it valuable to understand and build on the strengths in your relationship as well as exploring what is causing you pain.</p>
      <p>Couples and sexuality:</p>
      <p>As a couple you may be experiencing different levels of sexual desire, or you may desire very different things in the bedroom. When these desires and practices don’t line up, it can increase the feelings of anxiety, disconnection, blame and dissatisfaction in the relationship in general. Or you may want something new or different in your sex life, and need help talking about it or figuring it out. I help couples learn about their own sexual connection and all the complicated feelings that come along with that.</p>
      <p>I am available to work with straight, queer, poly, gay, lesbian, bisexual and transgender couples and clients.</p>
    </div>

  </div><!-- end container -->

  <% include ../partials/left_nav %>

  <% include ../partials/footer %>

</body>
</html>
