<!doctype html>
<html>
<head>
  <% include ../partials/head %>
</head>

<body>
  <div id="container">
    <% include ../partials/header %>
    
    <% include ../partials/left_nav %>

    

  </div><!-- end container -->

  <% include ../partials/footer %>

</body>
</html>
