<!doctype html>
<html>
<head>
  <% include ../partials/head %>
</head>

<body>
  <% include ../partials/nav_bar %>
  <div id="container">
    <% include ../partials/header %>

  <div class="info">
    <h3>Family Therapy, Parent Consultation and Child/Adolescent Counseling</h3>
      <p>The healthiest family model is one in which every member feels free to develop their own sense of self, but where a sense of belonging and togetherness is equally important.  In family therapy, it is important that we begin the process by helping the family define what the current problem is that you need help with.  I can be of assistance in helping you identify this, or in some cases you may already know.  Examples include a recent divorce, sexual or gender orientation issues, traumatic incident that one or more family members were exposed to, dealing with coming out issues (child or parent), concerns about a child’s behavior or school performance, concern about a child’s social isolation, death or illness in the family. </p>
      <p>We may work together in family sessions where every member is present, or you may choose to seek parent consultation as an alternative.  This might be an especially good choice if you feel that, as a parent, you want nothing more than to be the best parent you can be, but feel something is holding you back, such as growing up in a home where you did not have good role models for being a parent.  Or, you may choose to seek treatment for your child on a one-on-one basis.  This may be an especially good choice if you feel your child has already become withdrawn or secretive, or you fear he or she will not fully participate in the process if you are present.  With children I use a combination of play and talk therapy. Your child will benefit from being able to form a therapeutic relationship with a trusted adult, and you should begin to see an improvement in behaviors and attitudes.  You may also wish to create a family therapy plan that incorporates elements of all three- consultation, family sessions, and individual sessions for your child.</p>
    </div>
    
    <% include ../partials/left_nav %>

    

  </div><!-- end container -->

  <% include ../partials/footer %>

</body>
</html>