<!doctype html>
<html>
<head>
  <% include ../partials/head %>
</head>

<body>
  <div id="container">
    <% include ../partials/header %>
    
    
    <div id="lhs"> <!-- The lhs contains the nav bar and addr -->
      <div id="navdiv">
        <p>&nbsp;</p>
        <!-- put something in the navdiv so I can move it around -->
        <ul>
          <li><a href="/">Psychotherapy Home</a></li>
          <li><a href="/family_life">Families</a></li>
          <li><a href="/therapy_with_teens">Therapy With Teens</a></li>
          <li><a href="/couples_therapy">Couples Therapy</a></li>
        </ul>
      </div><!-- end navdiv -->
      <div id="addrdiv">
        <h4>East Bay Psychotherapy Collaborative</h4>
        <p>431 30th Street, Suite 250 </p>
        <p>Oakland, CA 94609</p>
        <p>&nbsp;</p>
        <h4><a href="tel:+1-510-779-2670">510-779-2670</a></h4>
        <a href="mailto:racheljslcsw@gmail.com">racheljsLCSW@gmail.com</a>
        <p>&nbsp;</p>
  <!--Professional verification provided by Psychology Today -->
  <a href="http://therapists.psychologytoday.com/rms/prof_detail.php?profid=182797&amp;p=10&amp;tr=Ext_Verify" title="verified by Psychology Today">
  <img src="http://therapists.psychologytoday.com/rms/external_verification.php?profid=182797" 
    height="69" width="146"
    alt="verified by Psychology Today" 
    border="0">
  </a>
  <!-- End Verification -->
  <p>&nbsp</p>
        <img src="http://maps.googleapis.com/maps/api/staticmap?center=431+30th+St,+Oakland,+CA
        &zoom=14
        &size=200x300
        &maptype=roadmap
  &markers=color:blue%7Clabel:431+30th%7C37.81887,-122.265387
  &sensor=false">
  <p><a href="https://maps.google.com/maps?q=431+30th+Street,+Oakland,+CA&hl=en
  &sll=37.870775,-122.30098
  &sspn=0.075885,0.154324&oq=431%60&hnear=431+30th+St,+Oakland,+California+94608
  &t=m&z=16">View larger map</a><p>
    <p>&nbsp;</p> <!-- add space at bottom of map -->
      </div>
      <!-- end addrdiv --> 
    </div>
    <!-- end lhs -->
    
    <div class="info">
      <p>Everyone has times in life when they feel frustration, anxiety, or depletion. We live in a complex and demanding world, where it's difficult to maintain balance, focus, and perspective. A skilled therapist can help you understand yourself, create change in your circumstances, or develop effective coping skills when current circumstances cannot be changed.</p>
      <p>With thoughtful and compassionate psychotherapy, I can help you bring about personal growth and change. I offer therapy for individuals, couples, children, teens and families. I value work with all genders, races, ethnicities, sexual orientations, and spiritual beliefs.
  </p>
  <p><em>You may call me for a free phone consultation or to make an initial appointment to see if I am the right fit for you.</em></p>
      <p>In my years of experience I have helped people combat depression and anxiety, take risks, gain self-confidence, become more successful, access their creativity, feel more fulfilled in their careers, and obtain the self-knowledge that leads to healthier, stronger, and more satisfying relationships.</p>
      <p>I can help if you find yourself:</p>
      <ul class="textlist">
        <li>Focusing more on what you are doing wrong, than focusing on what you are doing well.</li>
        <li>Unable to care for yourself because you are attending to the needs of others.</li>
        <li>Criticizing yourself more than seems reasonable.</li>
        <li>Hurting yourself physically.</li>
        <li>Staying in relationships that make you feel bad about yourself.
  </li>
  <li>Wanting to be in relationships that are different than the relationships you learned in your family, but not knowing how. </li>
  <li>Feeling lethargic or uninterested in things that used to bring you pleasure.</li>
  <li>Soothing yourself often with food, drugs or alcohol, work, television or otherwise distracting yourself from your present circumstances.
  </li>
        <li>Comparing yourself to others in a way that makes you feel bad about yourself.</li>
        <li>Questioning the meaning of life, or your purpose in life.</li>
        <li>Questioning the major choices you have made.</li>
        <li>Unable to connect with the people closest to you.</li>
        <li>Without the connections to family, friends or romantic partners that you would like.</li>
  <li>Unable to move on from past losses or traumas.</li>
  <li>Unable to forgive yourself.</li>
  <li>Wishing your life was considerably different than how it is.</li>
  <li>Thinking and hoping that the future will be very different than the present.</li>
  <li>Ruminating on things that happened to you in the past.</li>
      </ul>
    </div><!-- end info div -->
      <p>&nbsp;</p>

  </div><!-- end container -->

  <% include ../partials/footer %>

</body>
</html>
