<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Rachel Jenkins-Stevens, Therapist for Families, Teens, Children, and Adults</title>
<link href="styles/rachel.css" rel="stylesheet" type="text/css">
</head>

<body>
<div id="container">
  <div id="header">
    <p>&nbsp;</p> <!-- put something in the header so the whole thing can be background-colored -->
    <div id="headerwords"> <!-- make the words a block so I can move them as a whole -->
      <h2 id="RJSname">Rachel Jenkins-Stevens, LCSW</h2>
      <h3 id="job">Psychotherapist</h3>
    </div><!-- end headerwords div --> 
    <img src="images/Rinbkyd144x172.jpg" alt="Pic of Rachel" name="Rachel Jenkins-Stevens Counseling Therapy for Families, Teens, Children, Adults, and Couples" id="rachelpic" > 
    </div> <!-- end header div -->
  
  <div id="lhs"> <!-- The lhs contains the nav bar and addr -->
    <div id="navdiv">
      <p>&nbsp;</p>
      <!-- put something in the navdiv so I can move it around -->
      <ul>
      <li><a href="index.html">Psychotherapy Home</a></li>
        <li><a href="family_life.html">Children and Families</a></li>
        <li><a href="therapy_with_teens.html">Therapy With Teens</a></li>
        <li><a href="self_care_clinicians.html">Self Care for Clinicians</a></li>
        <li><a href="womens_therapy_group.html">Women's Therapy Group</a></li>
  <li><a href="couples_therapy.html">Couples Therapy</a></li>
      </ul>
    </div><!-- end navdiv -->
    <div id="addrdiv">
      <h4>East Bay Psychotherapy Collaborative</h4>
      <p>431 30th Street, Suite 1 </p>
      <p>Oakland, CA 94609</p>
      <p>&nbsp;</p>
      <h4>510-779-2670</h4>
      <a href="mailto:racheljslcsw@gmail.com">racheljsLCSW@gmail.com</a>
      <p>&nbsp;</p>
<!--Professional verification provided by Psychology Today -->
<a href="http://therapists.psychologytoday.com/rms/prof_detail.php?profid=182797&amp;p=10&amp;tr=Ext_Verify" title="verified by Psychology Today">
<img src="http://therapists.psychologytoday.com/rms/external_verification.php?profid=182797" 
  height="69" width="146"
  alt="verified by Psychology Today" 
  border="0">
</a>
<!-- End Verification -->
<p>&nbsp</p>
      <img src="http://maps.googleapis.com/maps/api/staticmap?center=431+30th+St,+Oakland,+CA
      &zoom=14
      &size=200x300
      &maptype=roadmap
&markers=color:blue%7Clabel:431+30th%7C37.81887,-122.265387
&sensor=false">
<p><a href="https://maps.google.com/maps?q=431+30th+Street,+Oakland,+CA&hl=en
&sll=37.870775,-122.30098
&sspn=0.075885,0.154324&oq=431%60&hnear=431+30th+St,+Oakland,+California+94608
&t=m&z=16">View larger map</a><p>
  <p>&nbsp;</p> <!-- add space at bottom of map -->
    </div>
    <!-- end addrdiv --> 
  </div>
  <!-- end lhs -->
  
  <div class="info">
    <p>Everyone has times in life when they feel frustration, anxiety, or depletion. We live in a complex and demanding world, where it's difficult to maintain balance, focus, and perspective. A skilled therapist can help you understand yourself, create change in your circumstances, or develop effective coping skills when current circumstances cannot be changed.</p>
    <p>With thoughtful and compassionate psychotherapy, I can help you bring about personal growth and change. I offer therapy for individuals, couples, children, teens and families. I value work with all genders, races, ethnicities, sexual orientations, and spiritual beliefs.
</p>
<p><em>You may call me for a free phone consultation or to make an initial appointment to see if I am the right fit for you.</em></p>
    <p>In my years of experience I have helped people combat depression and anxiety, take risks, gain self-confidence, become more successful, access their creativity, feel more fulfilled in their careers, and obtain the self-knowledge that leads to healthier, stronger, and more satisfying relationships.</p>
    <p>I can help if you find yourself:</p>
    <ul class="textlist">
      <li>Focusing more on what you are doing wrong, than focusing on what you are doing well.</li>
      <li>Unable to care for yourself because you are attending to the needs of others.</li>
      <li>Criticizing yourself more than seems reasonable.</li>
      <li>Hurting yourself physically.</li>
      <li>Staying in relationships that make you feel bad about yourself.
</li>
<li>Wanting to be in relationships that are different than the relationships you learned in your family, but not knowing how. </li>
<li>Feeling lethargic or uninterested in things that used to bring you pleasure.</li>
<li>Soothing yourself often with food, drugs or alcohol, work, television or otherwise distracting yourself from your present circumstances.
</li>
      <li>Comparing yourself to others in a way that makes you feel bad about yourself.</li>
      <li>Questioning the meaning of life, or your purpose in life.</li>
      <li>Questioning the major choices you have made.</li>
      <li>Unable to connect with the people closest to you.</li>
      <li>Without the connections to family, friends or romantic partners that you would like.</li>
<li>Unable to move on from past losses or traumas.</li>
<li>Unable to forgive yourself.</li>
<li>Wishing your life was considerably different than how it is.</li>
<li>Thinking and hoping that the future will be very different than the present.</li>
<li>Ruminating on things that happened to you in the past.</li>
    </ul>
  </div><!-- end info div -->
    <p>&nbsp;</p>

</div><!-- end container -->
<div id="footer">
  <p>Therapist Rachel Jenkins-Stevens, LCSW, LCS 27066</p>
  <p>Therapy for clients in Alameda County including Oakland, Berkeley, San Leandro, Castro Valley, Union City, Emeryville, Fremont, Albany, El Cerrito, Richmond, Orinda, Lafayette, Moraga, Walnut Creek</p>
  <p>&copy;2014 All Rights Reserved</p>
</div>
<!-- end footer div -->

</body>
</html>
