<!doctype html>
<html>
<head>
  <% include ../partials/head %>
</head>

<body>
  <div id="container">
    <% include ../partials/header %>
    
    <% include ../partials/left_nav %>

    <div class="info container">

<p>I work with many different issues around sexuality, including:</p>
  <ul>
    <li>Wanting more satisfaction out of your sexual life</li>
    <li>Wanting more sexual satisfaction as a couple</li>
    <li>Wanting more emotional intimacy in your sex life</li>
    <li>Anxiety about being intimate, emotionally or physically
    <li>Addressing inhibitions and lack of self confidence around sex, sexuality and desire</li>
    <li>Feeling shame or confusion about your sexuality or desires</li>
    <li>Anxiety about sexual performance</li>
    <li>Wanting more sex or sexuality in your life</li>
    <li>Concern that you are using sex and/or sexuality in an unhealthy way</li>
    <li>Concern about the lessons you learned about sex and sexuality growing up</li>
  </ul>
<p>It can be very hard to talk about sex and sexuality. You may feel embarrassment, shame, confusion, excitement, hopelessness or anxiety in talking about yourself and your thoughts and feelings about sex. I offer a non-judgmental space and an acceptance that these difficult feelings are part of the process and we will face them together. Our thoughts and feelings about sexuality are connected to so many other feelings and parts of our lives. You may want to talk about many aspects of yourself and your emotional life, and know that sexuality is a part of that, but not all of it. Together we can try to understand what you are experiencing and what your hopes are for you own fulfilled life. I look forward to working with you, however you express your love, you gender and your life.</p>
<p>Couples and sexuality:</p>
<p>As a couple you may be experiencing different levels of sexual desire, or desire very different things in the bedroom. When these desires and practices don’t line up, it can increase the feelings of anxiety, disconnection, blame and dissatisfaction in the relationship in general. Or you may want something new or different in your sex life, and need help talking about it or figuring it out. I help couples learn about their own sexual and intimate connection and all the complicated feelings that come along with that.</p>

    </div>

  </div><!-- end container -->

  <% include ../partials/footer %>

</body>
</html>